extends layout

block content
    h2= title

    form(method="post" action="")
        label(for='message') Enter Message : 
        input#message(type="text" placeholder="message" name="message")
        br
        label(for='user') Your name please :
        input(type="text" placeholder="" name="user")
        br
        button(type="submit") Submit

    if errors
        ul
            for error in errors
                li!= error.msg